extends ./layouts/default.jade

block title
  title Directives
  
block content
  #todoPanel.panel(ng-controller="DefaultCtrl")
    h1.panel-header To do List
    .checkbox.well
      label #[input(type="checkbox" ng-model="dataValue")] Set the data Value
    button.btn.btn-success(ng-disabled="dataValue") My Button
